<img src='what_missing_data.jpg' style='width:400px;length:600px'>

<img src='type_missing_data.jpg' style='width:300px;length:400px'>

In [1]:
import pandas as pd
wdi = pd.read_pickle('wdi.pkl')

In [2]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 406 non-null    float64
 3   compulsory_education_years      412 non-null    float64
 4   health_expenditure_pct_of_gdp   427 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              432 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  215 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    int64
 17  country_category                282 non-null    object
 18  is_region                       434 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 64.5+ KB

In [3]:
wdi['alcohol_consumption_per_capita']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
429    8.66000
430        NaN
431    6.18124
432    6.54000
433    4.67000
Name: alcohol_consumption_per_capita, Length: 434, dtype: float64

In [4]:
wdi.describe()

,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
count,434.000000,406.000000,412.000000,427.000000,434.000000,434.000000,434.000000,434.000000,434.000000,432.000000,4.340000e+02,215.000000,434.000000,434.000000,434.000000,434.000000,434.000000
mean,84.215517,48.128568,9.701456,6.433350,13599.891623,19925.226075,74.569474,69.866522,72.176272,209.973753,3.690135e+08,6.016516,8.404762,6.465617,7.047682,2017.500000,0.211982
std,24.389620,43.078263,2.206372,2.622327,18647.562977,19970.698889,7.676443,7.144252,7.334379,747.286538,1.049035e+09,3.783835,6.863858,4.535745,5.026820,0.500577,0.409184
min,9.300000,1.213235,5.000000,2.138482,271.752044,773.571858,54.354000,49.837000,52.240000,2.004286,1.019980e+05,0.003000,0.369000,0.052000,0.110000,2017.000000,0.000000
25%,70.842500,14.305347,9.000000,4.493300,1971.836316,4989.813770,69.050750,65.297750,66.988750,35.045644,4.312760e+06,2.720000,3.893250,3.796250,3.946283,2017.000000,0.000000
50%,98.912941,39.411075,10.000000,6.006967,5783.711368,13108.453526,76.088500,70.813500,73.585501,69.610676,1.604842e+07,5.837431,5.836087,5.351708,5.606500,2017.500000,0.000000
75%,100.000000,65.059316,11.000000,7.960797,15561.550814,28646.342748,80.144500,74.659500,77.162500,133.921155,1.026882e+08,9.095000,10.286000,8.001815,9.051000,2018.000000,0.000000
max,100.000000,272.592801,16.000000,17.003614,116654.261067,116786.479974,87.700000,82.300000,84.934146,7952.998418,7.591945e+09,15.090000,42.769001,25.238001,27.070999,2018.000000,1.000000

In [5]:
wdi.describe().T

,count,mean,std,min,25%,50%,75%,max
access_to_electricity_pct,434.0,8.421552e+01,2.438962e+01,9.300000,7.084250e+01,9.891294e+01,1.000000e+02,1.000000e+02
atms_per_100000,406.0,4.812857e+01,4.307826e+01,1.213235,1.430535e+01,3.941107e+01,6.505932e+01,2.725928e+02
compulsory_education_years,412.0,9.701456e+00,2.206372e+00,5.000000,9.000000e+00,1.000000e+01,1.100000e+01,1.600000e+01
health_expenditure_pct_of_gdp,427.0,6.433350e+00,2.622327e+00,2.138482,4.493300e+00,6.006967e+00,7.960797e+00,1.700361e+01
gdp_per_capita_usd,434.0,1.359989e+04,1.864756e+04,271.752044,1.971836e+03,5.783711e+03,1.556155e+04,1.166543e+05
gdp_per_capita_ppp,434.0,1.992523e+04,1.997070e+04,773.571858,4.989814e+03,1.310845e+04,2.864634e+04,1.167865e+05
life_expectancy_female,434.0,7.456947e+01,7.676443e+00,54.354000,6.905075e+01,7.608850e+01,8.014450e+01,8.770000e+01
life_expectancy_male,434.0,6.986652e+01,7.144252e+00,49.837000,6.529775e+01,7.081350e+01,7.465950e+01,8.230000e+01
life_expectancy,434.0,7.217627e+01,7.334379e+00,52.240000,6.698875e+01,7.358550e+01,7.716250e+01,8.493415e+01
population_density,432.0,2.099738e+02,7.472865e+02,2.004286,3.504564e+01,6.961068e+01,1.339212e+02,7.952998e+03
population,434.0,3.690135e+08,1.049035e+09,101998.000000,4.312760e+06,1.604842e+07,1.026882e+08,7.591945e+09
alcohol_consumption_per_capita,215.0,6.016516e+00,3.783835e+00,0.003000,2.720000e+00,5.837431e+00,9.095000e+00,1.509000e+01
unemployment_rate_female,434.0,8.404762e+00,6.863858e+00,0.369000,3.893250e+00,5.836087e+00,1.028600e+01,4.276900e+01
unemployment_rate_male,434.0,6.465617e+00,4.535745e+00,0.052000,3.796250e+00,5.351708e+00,8.001815e+00,2.523800e+01
unemployment_rate,434.0,7.047682e+00,5.026820e+00,0.110000,3.946283e+00,5.606500e+00,9.051000e+00,2.707100e+01
year,434.0,2.017500e+03,5.005770e-01,2017.000000,2.017000e+03,2.017500e+03,2.018000e+03,2.018000e+03
is_region,434.0,2.119816e-01,4.091835e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

In [6]:
wdi.isna()

,country_name,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,country_category,is_region
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
430,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False
431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
432,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
433,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
wdi.notna()

,country_name,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,country_category,is_region
0,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
430,True,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True,True,True,True
431,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True
432,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
433,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [8]:
wdi.isna().sum()

country_name                        0
access_to_electricity_pct           0
atms_per_100000                    28
compulsory_education_years         22
health_expenditure_pct_of_gdp       7
gdp_per_capita_usd                  0
gdp_per_capita_ppp                  0
life_expectancy_female              0
life_expectancy_male                0
life_expectancy                     0
population_density                  2
population                          0
alcohol_consumption_per_capita    219
unemployment_rate_female            0
unemployment_rate_male              0
unemployment_rate                   0
year                                0
country_category                  152
is_region                           0
dtype: int64

In [10]:
wdi['alcohol_consumption_per_capita'].value_counts(dropna=False)

NaN          219
0.690000       3
9.230000       2
12.030000      2
0.682988       2
            ...
1.110000       1
5.380000       1
6.890000       1
2.730000       1
4.670000       1
Name: alcohol_consumption_per_capita, Length: 205, dtype: int64

In [12]:
num_missing_by_row = wdi.isna().sum(axis=1)

In [13]:
num_missing_by_row>0

0       True
1       True
2       True
3       True
4       True
       ...
429    False
430     True
431     True
432    False
433    False
Length: 434, dtype: bool

In [14]:
(num_missing_by_row>0).sum()

319

In [15]:
wdi[num_missing_by_row>0]

,country_name,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,country_category,is_region
0,Afghanistan,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.701000,64.130000,55.595993,3.629640e+07,NaN,14.090000,10.416000,11.184000,2017,DEVELOPING,0
1,Albania,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.601000,78.333000,104.870693,2.873457e+06,NaN,12.563000,14.590000,13.750000,2017,DEVELOPING,0
2,Algeria,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.307000,76.499000,17.377715,4.138920e+07,NaN,21.114000,10.021000,11.996000,2017,DEVELOPING,0
3,Angola,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.677000,60.379000,23.916538,2.981675e+07,NaN,7.467000,6.769000,7.119000,2017,DEVELOPING,0
4,Arab World,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.921250,71.622526,36.669804,4.118990e+08,NaN,20.361396,8.097088,10.641313,2017,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Upper middle income,99.423212,54.376093,10.0,5.739787,8906.243876,16701.291315,78.040738,72.790446,75.328985,49.316919,2.837704e+09,6.170874,5.809633,5.812897,5.811807,2018,NaN,1
426,Uruguay,100.000000,120.067132,14.0,9.202700,17277.970111,22116.786596,81.359000,73.958000,77.770000,19.708028,3.449299e+06,6.920000,10.089000,6.873000,8.336000,2018,NaN,0
428,Vanuatu,61.864769,48.050330,NaN,3.373726,3125.257989,3204.679541,71.990000,68.847000,70.323000,24.009844,2.926800e+05,2.250000,4.898000,3.958000,4.368000,2018,DEVELOPING,0
430,West Bank and Gaza,100.000000,24.735190,10.0,NaN,3562.330943,6472.121785,75.595000,72.263000,73.895000,758.984551,4.569087e+06,NaN,41.849998,22.393999,26.256001,2018,DEVELOPING,0
431,World,89.588551,40.949620,10.0,9.848779,11385.675227,17025.827360,74.871815,70.398743,72.563282,59.617978,7.591945e+09,6.181240,5.580954,5.271615,5.392213,2018,NaN,1

<img src='how_to_deal_missing_data.jpg'>