<img src='dropping.jpg' style='width:300px;length:300px'>

In [1]:
import pandas as pd
wdi = pd.read_pickle('wdi.pkl')

# Drop Row

In [2]:
wdi.dropna()

,country_name,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,country_category,is_region
217,Afghanistan,98.713203,1.611932,9.0,9.395727,493.750418,2083.321897,66.026,63.047,64.486000,56.937760,37172386.0,0.21,13.906000,10.287000,11.057,2018,DEVELOPING,0
218,Albania,100.000000,30.638125,9.0,5.262714,5284.380184,13833.981603,80.167,76.816,78.458000,104.612263,2866376.0,7.17,11.229000,13.127000,12.340,2018,DEVELOPING,0
219,Algeria,100.000000,9.204290,10.0,6.218427,4153.733978,11925.798564,77.938,75.494,76.693000,17.730075,42228429.0,0.95,21.058001,9.926000,11.882,2018,DEVELOPING,0
220,Angola,43.259258,18.854410,6.0,2.549005,3289.646664,7102.405887,63.666,58.064,60.782000,24.713052,30809762.0,6.94,7.327000,6.708000,7.019,2018,DEVELOPING,0
223,Armenia,100.000000,64.113400,12.0,10.025390,4220.490277,13024.694810,78.354,71.215,74.945000,103.680225,2951776.0,5.55,17.198999,17.750999,17.496,2018,DEVELOPING,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,United Kingdom,100.000000,115.442057,11.0,9.996963,43043.227816,46901.069860,83.100,79.500,81.256098,274.708982,66460344.0,11.45,3.940000,4.045000,3.996,2018,DEVELOPED,0
427,Uzbekistan,100.000000,28.035561,12.0,5.291491,1529.082864,6920.044618,73.676,69.445,71.573000,77.470851,32956100.0,2.59,5.517000,5.887000,5.736,2018,DEVELOPING,0
429,Vietnam,100.000000,25.322499,10.0,5.917897,2566.596950,7771.189420,79.442,71.207,75.317000,308.125246,95540395.0,8.66,1.831000,2.142000,1.993,2018,DEVELOPING,0
432,Zambia,39.812622,11.554664,7.0,4.934843,1516.390661,3607.304442,66.447,60.533,63.510000,23.341479,17351822.0,6.54,12.448000,10.614000,11.500,2018,DEVELOPING,0
433,Zimbabwe,41.041584,6.625208,7.0,4.734331,1683.740577,3206.277079,62.598,59.501,61.195000,37.324591,14439018.0,4.67,5.598000,4.555000,5.087,2018,DEVELOPING,0

In [3]:
wdi.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 217 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    115 non-null    object
 1   access_to_electricity_pct       115 non-null    float64
 2   atms_per_100000                 115 non-null    float64
 3   compulsory_education_years      115 non-null    float64
 4   health_expenditure_pct_of_gdp   115 non-null    float64
 5   gdp_per_capita_usd              115 non-null    float64
 6   gdp_per_capita_ppp              115 non-null    float64
 7   life_expectancy_female          115 non-null    float64
 8   life_expectancy_male            115 non-null    float64
 9   life_expectancy                 115 non-null    float64
 10  population_density              115 non-null    float64
 11  population                      115 non-null    float64
 12  alcohol_consumption_per_capita  115 non-null    float64
 13  unemployment_rate_female        115 non-null    float64
 14  unemployment_rate_male          115 non-null    float64
 15  unemployment_rate               115 non-null    float64
 16  year                            115 non-null    int64
 17  country_category                115 non-null    object
 18  is_region                       115 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 18.0+ KB

In [4]:
wdi.dropna(thresh=18)

,country_name,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,country_category,is_region
0,Afghanistan,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.701000,64.130000,55.595993,3.629640e+07,NaN,14.090000,10.416000,11.184000,2017,DEVELOPING,0
1,Albania,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.601000,78.333000,104.870693,2.873457e+06,NaN,12.563000,14.590000,13.750000,2017,DEVELOPING,0
2,Algeria,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.307000,76.499000,17.377715,4.138920e+07,NaN,21.114000,10.021000,11.996000,2017,DEVELOPING,0
3,Angola,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.677000,60.379000,23.916538,2.981675e+07,NaN,7.467000,6.769000,7.119000,2017,DEVELOPING,0
6,Armenia,100.000000,63.736251,12.0,10.362705,3914.501268,12115.057009,78.165000,71.115000,74.797000,103.435511,2.944809e+06,NaN,17.471001,17.906000,17.705000,2017,DEVELOPING,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,Vanuatu,61.864769,48.050330,NaN,3.373726,3125.257989,3204.679541,71.990000,68.847000,70.323000,24.009844,2.926800e+05,2.25000,4.898000,3.958000,4.368000,2018,DEVELOPING,0
429,Vietnam,100.000000,25.322499,10.0,5.917897,2566.596950,7771.189420,79.442000,71.207000,75.317000,308.125246,9.554040e+07,8.66000,1.831000,2.142000,1.993000,2018,DEVELOPING,0
431,World,89.588551,40.949620,10.0,9.848779,11385.675227,17025.827360,74.871815,70.398743,72.563282,59.617978,7.591945e+09,6.18124,5.580954,5.271615,5.392213,2018,NaN,1
432,Zambia,39.812622,11.554664,7.0,4.934843,1516.390661,3607.304442,66.447000,60.533000,63.510000,23.341479,1.735182e+07,6.54000,12.448000,10.614000,11.500000,2018,DEVELOPING,0
433,Zimbabwe,41.041584,6.625208,7.0,4.734331,1683.740577,3206.277079,62.598000,59.501000,61.195000,37.324591,1.443902e+07,4.67000,5.598000,4.555000,5.087000,2018,DEVELOPING,0

In [6]:
wdi_no_missing_rows = wdi.dropna()

In [7]:
wdi_no_missing_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 217 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    115 non-null    object
 1   access_to_electricity_pct       115 non-null    float64
 2   atms_per_100000                 115 non-null    float64
 3   compulsory_education_years      115 non-null    float64
 4   health_expenditure_pct_of_gdp   115 non-null    float64
 5   gdp_per_capita_usd              115 non-null    float64
 6   gdp_per_capita_ppp              115 non-null    float64
 7   life_expectancy_female          115 non-null    float64
 8   life_expectancy_male            115 non-null    float64
 9   life_expectancy                 115 non-null    float64
 10  population_density              115 non-null    float64
 11  population                      115 non-null    float64
 12  alcohol_consumption_per_capita  115 non-null    float64
 13  unemployment_rate_female        115 non-null    float64
 14  unemployment_rate_male          115 non-null    float64
 15  unemployment_rate               115 non-null    float64
 16  year                            115 non-null    int64
 17  country_category                115 non-null    object
 18  is_region                       115 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 18.0+ KB

In [8]:
wdi.nunique()

country_name                      217
access_to_electricity_pct         240
atms_per_100000                   359
compulsory_education_years         16
health_expenditure_pct_of_gdp     421
gdp_per_capita_usd                430
gdp_per_capita_ppp                430
life_expectancy_female            390
life_expectancy_male              402
life_expectancy                   425
population_density                428
population                        430
alcohol_consumption_per_capita    204
unemployment_rate_female          422
unemployment_rate_male            430
unemployment_rate                 428
year                                2
country_category                    2
is_region                           2
dtype: int64

In [9]:
wdi_no_missing_rows.nunique()

country_name                      115
access_to_electricity_pct          56
atms_per_100000                   115
compulsory_education_years         12
health_expenditure_pct_of_gdp     115
gdp_per_capita_usd                115
gdp_per_capita_ppp                115
life_expectancy_female            107
life_expectancy_male              110
life_expectancy                   115
population_density                115
population                        115
alcohol_consumption_per_capita    112
unemployment_rate_female          114
unemployment_rate_male            114
unemployment_rate                 115
year                                1
country_category                    2
is_region                           1
dtype: int64

# Drop Column

In [10]:
wdi.dropna(axis=1)

,country_name,access_to_electricity_pct,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,Afghanistan,97.700000,519.884773,2058.383832,65.656000,62.701000,64.130000,3.629640e+07,14.090000,10.416000,11.184000,2017,0
1,Albania,100.000000,4531.020806,13037.010016,80.148000,76.601000,78.333000,2.873457e+06,12.563000,14.590000,13.750000,2017,0
2,Algeria,100.000000,4111.294110,11737.409353,77.735000,75.307000,76.499000,4.138920e+07,21.114000,10.021000,11.996000,2017,0
3,Angola,41.962894,4095.812942,7310.901738,63.252000,57.677000,60.379000,2.981675e+07,7.467000,6.769000,7.119000,2017,0
4,Arab World,90.283638,6108.588220,14562.367966,73.493366,69.921250,71.622526,4.118990e+08,20.361396,8.097088,10.641313,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,Vietnam,100.000000,2566.596950,7771.189420,79.442000,71.207000,75.317000,9.554040e+07,1.831000,2.142000,1.993000,2018,0
430,West Bank and Gaza,100.000000,3562.330943,6472.121785,75.595000,72.263000,73.895000,4.569087e+06,41.849998,22.393999,26.256001,2018,0
431,World,89.588551,11385.675227,17025.827360,74.871815,70.398743,72.563282,7.591945e+09,5.580954,5.271615,5.392213,2018,1
432,Zambia,39.812622,1516.390661,3607.304442,66.447000,60.533000,63.510000,1.735182e+07,12.448000,10.614000,11.500000,2018,0
433,Zimbabwe,41.041584,1683.740577,3206.277079,62.598000,59.501000,61.195000,1.443902e+07,5.598000,4.555000,5.087000,2018,0

In [11]:
wdi.dropna(axis=1,thresh=300)

,country_name,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,Afghanistan,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.701000,64.130000,55.595993,3.629640e+07,14.090000,10.416000,11.184000,2017,0
1,Albania,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.601000,78.333000,104.870693,2.873457e+06,12.563000,14.590000,13.750000,2017,0
2,Algeria,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.307000,76.499000,17.377715,4.138920e+07,21.114000,10.021000,11.996000,2017,0
3,Angola,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.677000,60.379000,23.916538,2.981675e+07,7.467000,6.769000,7.119000,2017,0
4,Arab World,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.921250,71.622526,36.669804,4.118990e+08,20.361396,8.097088,10.641313,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,Vietnam,100.000000,25.322499,10.0,5.917897,2566.596950,7771.189420,79.442000,71.207000,75.317000,308.125246,9.554040e+07,1.831000,2.142000,1.993000,2018,0
430,West Bank and Gaza,100.000000,24.735190,10.0,NaN,3562.330943,6472.121785,75.595000,72.263000,73.895000,758.984551,4.569087e+06,41.849998,22.393999,26.256001,2018,0
431,World,89.588551,40.949620,10.0,9.848779,11385.675227,17025.827360,74.871815,70.398743,72.563282,59.617978,7.591945e+09,5.580954,5.271615,5.392213,2018,1
432,Zambia,39.812622,11.554664,7.0,4.934843,1516.390661,3607.304442,66.447000,60.533000,63.510000,23.341479,1.735182e+07,12.448000,10.614000,11.500000,2018,0
433,Zimbabwe,41.041584,6.625208,7.0,4.734331,1683.740577,3206.277079,62.598000,59.501000,61.195000,37.324591,1.443902e+07,5.598000,4.555000,5.087000,2018,0

In [12]:
wdi.dropna(axis=1,thresh=300).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country_name                   434 non-null    object
 1   access_to_electricity_pct      434 non-null    float64
 2   atms_per_100000                406 non-null    float64
 3   compulsory_education_years     412 non-null    float64
 4   health_expenditure_pct_of_gdp  427 non-null    float64
 5   gdp_per_capita_usd             434 non-null    float64
 6   gdp_per_capita_ppp             434 non-null    float64
 7   life_expectancy_female         434 non-null    float64
 8   life_expectancy_male           434 non-null    float64
 9   life_expectancy                434 non-null    float64
 10  population_density             432 non-null    float64
 11  population                     434 non-null    float64
 12  unemployment_rate_female       434 non-null    float64
 13  unemployment_rate_male         434 non-null    float64
 14  unemployment_rate              434 non-null    float64
 15  year                           434 non-null    int64
 16  is_region                      434 non-null    int64
dtypes: float64(14), int64(2), object(1)
memory usage: 57.8+ KB

In [13]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 406 non-null    float64
 3   compulsory_education_years      412 non-null    float64
 4   health_expenditure_pct_of_gdp   427 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              432 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  215 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    int64
 17  country_category                282 non-null    object
 18  is_region                       434 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 64.5+ KB